@import "tailwindcss";

:root {
  --navbar-height: 52px; /* ความสูงสำหรับมือถือ */
}

@media (min-width: 768px) {
  :root {
    --navbar-height: 60px; /* ความสูงสำหรับ Tablet/PC */
  }
}

@theme {  /* เรียกใช้: bg-background */
  --color-background:#FAFAFA;

  --color-black:#0a0a0a;


  --font-sans: var(--font-kanit), sans-serif; 
  --font-mono: var(--font-geist-mono);

  --color-primary: #ffffff;
  --color-primary-foreground: #ffffff;
  --color-card: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ซ่อนปุ่มลูกศรใน input[type="number"] */
input[type="number"].hide-arrows::-webkit-outer-spin-button,
input[type="number"].hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"].hide-arrows {
  -moz-appearance: textfield;
}
